.interaction {
  display: block;
}

.interaction__text {
  margin: 0 0 50px;
}

.interaction__list {
  width: calc(958 / 1258 * 100%);
  margin: 0;
  padding: 0 0 0 calc(90 / 1258 * 100%);
  list-style: none;
}

.interaction__item {
  margin-bottom: 50px;
}

.interaction__item:last-child {
  margin-bottom: 0;
}

.interaction__content {
  margin: 0;
}

@media  screen and (max-width: 1024px) {
  .interaction__list {
    width: 100%;
    padding: 0;
  }
  .interaction__item {
    margin-bottom: 30px;
  }
}