.intro {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.intro__text-wrap {
  flex: 0 0 50%;
}

.intro__title {
  margin: 0 0 50px;
}

.intro__paragraph {
  margin: 0 0 30px;
}

.intro__paragraph:last-child {
  margin-bottom: 0;
}

.intro__logo-wrap {
  margin-left: 50px;
  flex: 0 1 50%;
}

.intro__logo {
  width: 100%;
}

@media screen and (max-width: 1360px) {
  .intro__text-wrap {
    flex: 0 0 60%;
  }
  .intro__logo-wrap {
    flex: 0 1 40%;
  }
}

@media screen and (max-width: 1024px) {
  .intro__text-wrap {
    flex: 0 0 100%;
  }
  .intro__logo-wrap {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0.1;
    margin: 0;
  }
}
