.objects {
  padding: 50px 0;
  background: center / cover no-repeat url(./background.jpg);
  position: relative;
  overflow: hidden;
}

.objects::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  opacity: 0.3;
  z-index: 0;
}

.objects__inner {
  margin: 0 auto;
  width: calc(1258 / 1440 * 100%);
}

.objects__title {
  position: relative;
  color: var(--color-white);
  margin: 0 0 50px;
}

.objects__slider-wrap {
  margin-bottom: 120px;
}

.objects__object {
  background-color: var(--color-white);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  position: relative;
  overflow: hidden;
  cursor: grab;
}

.objects__object:active {
  cursor: grabbing;
}

.objects__object-title {
  margin: 0 0 80px;
  text-align: center;
  position: relative;
}

.objects__object-info {
  margin: 0;
  align-self: flex-end;
  width: 50%;
  position: relative;
}

.objects__decoration {
  position: absolute;
  z-index: 0;
}

.objects__decoration:first-of-type {
  bottom: -120px;
  left: 10%;
  width: calc(1550 / 1440 * 100%);
  height: 915px;
  background-color: #61c333;
  opacity: 0.8;
  clip-path: polygon(0 100%, 100% 60%, 95% 0);
}

.objects__decoration:nth-of-type(2) {
  bottom: -86px;
  left: 30%;
  width: calc(1300 / 1440 * 100%);
  height: 1185px;
  background-color: #3a7220;
  opacity: 0.4;
  clip-path: polygon(0 100%, 100% 95%, 55% 0);
}

.objects__object-decoration {
  position: absolute;
  z-index: 0;
}

.objects__object-decoration:first-of-type {
  bottom: -45px;
  left: 0;
  width: calc(245 / 350 * 100%);
  height: 560px;
  background-color: #5bd024;
  opacity: 0.1;
  clip-path: polygon(0 100%, 100% 10%, 30% 0);
}

.objects__object-decoration:nth-of-type(2) {
  bottom: -45px;
  left: 0;
  width: calc(570 / 350 * 100%);
  height: 560px;
  background-color: #3a7220;
  opacity: 0.05;
  clip-path: polygon(0 100%, 100% 0%, 40% 0);
}
