.main {
  display: initial;
}

.main__section {
  margin: 0 auto 150px;
  width: calc(1258 / 1440 * 100%);
}

.main__section_type_wide {
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .main__section {
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 550px) {
  .main__section {
    margin-bottom: 50px;
  }
}
