.header {
  position: relative;
  min-height: 100vh;
  box-sizing: border-box;
}

.header::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 150px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.55) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  z-index: 1;
}

.header__menu-wrap {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: calc(1360 / 1440 * 100%);
  min-height: 110px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.header__logo-wrap {
  width: calc(216 / 1360 * 100%);
}

.header__logo {
  width: 100%;
}

.header__menu {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.header__callback {
  margin: 0 25px;
}

.header__aside-menu-button {
  display: none;
  border: 0;
  background: none;
  padding: 0;
  margin-left: 20px;
  cursor: pointer;
  transition: opacity 0.4s ease;
}

.header__aside-menu-button:hover {
  opacity: 0.6;
}

.header__slider {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
}

.header__slider-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center bottom;
}

@media screen and (max-width: 1360px) {
  .header__logo-wrap {
    flex-basis: 200px;
    flex-shrink: 1;
  }
  .header__navigation {
    display: none;
  }
  .header__aside-menu-button {
    display: block;
  }
  .header__callback {
    margin: 0 20px;
  }
}

@media screen and (max-width: 550px) {
  .header {
    min-height: 50vh;
  }
  .header__callback {
    display: none;
  }
  .header__lang-sel {
    display: none;
  }
}

@media screen and (max-width: 425px) {
  .header__aside-menu-button {
    width: 45px;
  }

  .header__aside-menu-button img {
    width: 100%;
  }
}
