@import-normalize;
@import url(./vendor/fonts/fonts.css);

:root {
  --text-color: #5b5b5b;
  --color-green: #539e2f;
  --color-white: #fff;
  --color-pink: #e6007d;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0;
}
